* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gold;
    width: 1350px;
    height: 850px;
}

h1 {
    text-align: center;
}

.div {
    display: flex;
    justify-content: center;

}

.div1 {
    background-color: cadetblue;
    width: 100px;
    height: 100px;
    margin: 40px;
}

.skew {
    animation: varun 5s linear infinite alternate;
}

@keyframes varun {
    0% {
        transform: skewY(0deg);
    }

    25% {
        transform: skewY(15deg);
    }

    75% {
        transform: skewY(0deg);
    }

    100% {
        transform: skewY(-15deg);
    }
}

.skew2 {
    animation: rotate 4s linear infinite alternate;
    background-color: darkorchid;
}

@keyframes rotate {
    0% {
        transform: skewY(0deg);
    }

    25% {
        transform: skewY(25deg);
    }

    75% {
        transform: skewY(0deg);
    }

    100% {
        transform: skewY(-25deg);
    }
}

.skew3 {
    animation: rotatation 4s ease-in-out infinite;
    background-color: cadetblue;
}

@keyframes rotatation {
    100% {
        transform: rotate(360deg);
    }

}

.skew4 {
   
    animation: height 4s ease-in-out infinite;
    transform: scaleY(50px);
    border: 1px solid black;
    
  
}

@keyframes height {
    0% {
        transform: scaleY(0.5);
    }
    25% {
        transform: scaleY(1);
    }
    75% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1);
    }
}
.skew5{
    animation: width 5s ease infinite;
    transform: scaleX(50px);
    border: 1px solid black;
    background-color: brown;
}
@keyframes width {
    0% {
        transform: scaleX(0.5);
    }
    25% {
        transform: scaleX(1);
    }
    75% {
        transform: scaleX(0.5);
    }
    100% {
        transform: scaleX(1);
    }
}
.skew6{
    background-color: green;
    border: 1px solid black;
    transform: rotate(0deg);
    animation: halfcircle 1s ease-in-out infinite alternate;
}
@keyframes halfcircle{
    100%{
        transform: rotate(-90deg);
    }
}